<li class="list-group-item step-li">
    <div class="row step">
        <div class="col-auto">
            <select class="form-control step-type">
                <option>Browser Operations</option>
                <option>Element Operations</option>
                <option>Find Element</option>
                <option selected>Navigate</option>
            </select>
        </div>

        <div class="col">
            <div id="browser-operations-inputs" class="row step-inputs" style="display: none;">
                <select class="form-control step-input primary-input col">
                    <option selected>Maximize</option>
                    <option>Quit</option>
                </select>
            </div>

            <div id="navigate-inputs" class="row step-inputs">
                <select class="form-control step-input primary-input col">
                    <option>Back</option>
                    <option>Forward</option>
                    <option data-secondary-input="true" selected>Go To URL</option>
                    <option>Refresh</option>

                </select>
                <input type="url" class="form-control step-input secondary-input col-9 ml-sm-2" name="url" placeholder="URL">
            </div>

            <div id="find-element-inputs" class="row step-inputs" style="display: none;">
                <select class="form-control step-input primary-input col">
                    <option data-secondary-input="true">By Class Name</option>
                    <option data-secondary-input="true">By CSS Selector</option>
                    <option data-secondary-input="true" selected>By ID</option>
                    <option data-secondary-input="true">By Link Text</option>
                    <option data-secondary-input="true">By Name</option>
                    <option data-secondary-input="true">By Partial Link Text</option>
                    <option data-secondary-input="true">By Tag Name</option>
                    <option data-secondary-input="true">By XPath</option>
                </select>
                <input type="text" class="form-control step-input secondary-input col-9 ml-sm-2" name="selector" placeholder="Selector">
            </div>

            <div id="element-operations-inputs" class="row step-inputs" style="display: none;">
                <select class="form-control step-input primary-input col">">
                    <option selected>Click</option>
                    <option>Clear</option>
                    <option data-secondary-input="true">Send Keys</option>
                    <option>Submit</option>
                </select>
                <input type="text" class="form-control step-input secondary-input col-9 ml-sm-2" name="keys" placeholder="Text" style="display: none;">
            </div>

        </div>
        <div class="col-1">
            <button type="button" class="btn btn-link delete-step"><i class="fas fa-times fa-lg"></i></button>
        </div>
    </div>
</li>
