
@{
    ViewData["Title"] = "Demo";
}

@section Scripts{
    <script src="~/js/Demo.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Demo</h1>
    <p>Each section below demos how Selenuim GUI can be used in different scenarios.</p>
    <p>To run any example, copy the Sequence JSON script, import it into your sequence and run it.</p>
    <hr />
</div>

<section id="find-and-click">
    <h2>Find and Click</h2>
    <p>Each of the elements in the left column will change colour when clicked. However each example uses a different <var>Find Element</var> function to locate the element to be clicked.</p>
    <div class="row example-sequence">
        <div class="col-3">
            <button id="find-element-by-id-button" class="btn btn-secondary btn-toggle">Find me by ID</button>
        </div>
        <div class="col">
            <div class="text-center">
                <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#find-and-click-code" aria-expanded="false" aria-controls="find-and-click-code">
                    See Sequence JSON
                </button>
            </div>
            <div class="collapse" id="find-and-click-code">
                <div class="card card-body">
                    <pre>
                        <code find-element-by-id-button-code>
[
	{
		"Type": "Navigate",
		"Parameters": [
			"Go To URL",
			"https://localhost:44321/Home/Demo"
		]
	},
	{
		"Type": "Find Element",
		"Parameters": [
			"By ID",
			"find-element-by-id-button"
		]
	},
	{
		"Type": "Wait",
		"Parameters": [
			"1",
			"Seconds"
		]
	},
	{
		"Type": "Element Operations",
		"Parameters": [
			"Click",
			""
		]
	}
]
                        </code>
                    </pre>
                    
                </div>
            </div>
        </div>
        <div class="col-3 text-right">
            <button class="btn btn-primary copy-json">Copy JSON to clipboard</button>
        </div>
    </div>

</section>

<textarea id="clipboard" style="display: none;"></textarea>

