@{
    ViewData["Title"] = "Selenium GUI";
}
@section Scripts{
    <script src="~/js/Sequence.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Create Sequence</h1>
    <p>A tool to automate repetive navigation, generating bug reproduction scripts and to assist writing selenium functional test.</p>

</div>

<div class="alert invisible" role="alert">
    <div class="row">
        <div class="col" id="alert-message">
            ...
        </div>
        <div class="col-1" >
            <button type="button" class="btn btn-link" id="dismiss-alert">
                <i class="fas fa-times fa-lg"></i>
            </button>
           
        </div>
    </div>
</div>

<partial name="_SequenceCard" />