@{
    ViewData["Title"] = "Selenium GUI";
}
@section Scripts{
    <script src="~/js/Sequence.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Create Sequence</h1>
    <p>A tool to automate repetive navigation, generating bug reproduction scripts and to assist writing selenium functional test.</p>

</div>

<div class="alert invisible" role="alert">
</div>

<partial name="_SequenceCard" />