@{
    ViewData["Title"] = "Selenium GUI";
}
@section Scripts{
    <script src="~/js/Sequence.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Create Sequence</h1>
    <p>A tool to automate repetive navigation, generating bug reproduction scripts and to assist writing selenium functional test.</p>

</div>

<div class="card text-center">
    <div class="card-header">
        <h2>Sequence</h2>
    </div>
    <form>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row step">
                    <div class="col-3">
                        <select class="form-control step-type">
                            <option selected>Go To URL</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col">
                        <input type="url" class="form-control step-input" name="url" placeholder="URL">
                    </div>
                </div>

            </li>
            <li class="list-group-item">
                <div class="row step">
                    <div class="col-3">
                        <select class="form-control step-type">
                            <option selected>Go To URL</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col">
                        <input type="url" class="form-control step-input" name="url" placeholder="URL">
                    </div>
                </div>

            </li>
        </ul>



        <div class="card-footer">
            <div class="row">
                <div class="col">
                    <button type="button" id="run-sequence" class="btn btn-success">Run Sequence</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary">Add Step</button>
                </div>
                <div class="col">
                    <button class="btn btn-info">Get Script</button>
                </div>
            </div>
        </div>
    </form>
</div>
